Get today's weather forecast for my current location.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","required":["location.address.countryOrRegion","location.coordinates.longitude","location.coordinates.latitude"],"properties":{"location.address.countryOrRegion":{"type":"string","x-ms-dynamically-added":false},"location.coordinates.longitude":{"type":"string","x-ms-dynamically-added":false},"location.coordinates.latitude":{"type":"string","x-ms-dynamically-added":false}}}}}},"actions":{"Condition":{"actions":{"Get_forecast_for_today_(US)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"TodaysForecast"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['msnweather']['connectionId']"}},"method":"get","path":"/forecast/today/@{encodeURIComponent(triggerBody()['location']['coordinates']['latitude'],', ',triggerBody()['location']['coordinates']['longitude'])}","queries":{"units":"Imperial"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_a_push_notification_(US)":{"runAfter":{"Get_forecast_for_today_(US)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendNotification"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['flowpush']['connectionId']"}},"method":"post","path":"/sendNotification","body":{"notificationText":"High of @{body('Get_forecast_for_today_(US)')?['responses']?['daily']?['tempHi']}@{body('Get_forecast_for_today_(US)')?['units']?['temperature']} and low of @{body('Get_forecast_for_today_(US)')?['responses']?['daily']?['tempLo']}@{body('Get_forecast_for_today_(US)')?['units']?['temperature']}. @{body('Get_forecast_for_today_(US)')?['responses']?['daily']?['precip']}% chance of rain.","notificationLink":{"uri":"@{body('Get_forecast_for_today_(US)')?['responses']?['source']?['clickThrough']}","label":"See the full details about the @{body('Get_forecast_for_today_(US)')?['responses']?['daily']?['pvdrCap']} weather in @{body('Get_forecast_for_today_(US)')?['responses']?['source']?['location']}"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"else":{"actions":{"Send_a_push_notification_(Metric)":{"runAfter":{"Get_forecast_for_today_(Metric)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendNotification"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['flowpush']['connectionId']"}},"method":"post","path":"/sendNotification","body":{"notificationText":"High of @{body('Get_forecast_for_today_(Metric)')?['responses']?['daily']?['tempHi']}@{body('Get_forecast_for_today_(Metric)')?['units']?['temperature']} and low of @{body('Get_forecast_for_today_(Metric)')?['responses']?['daily']?['tempLo']}@{body('Get_forecast_for_today_(Metric)')?['units']?['temperature']}. @{body('Get_forecast_for_today_(Metric)')?['responses']?['daily']?['precip']}% chance of rain.","notificationLink":{"uri":"@{body('Get_forecast_for_today_(Metric)')?['responses']?['source']?['clickThrough']}","label":"See the full details about the @{body('Get_forecast_for_today_(Metric)')?['responses']?['daily']?['pvdrCap']} weather in @{body('Get_forecast_for_today_(Metric)')?['responses']?['source']?['location']}"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_forecast_for_today_(Metric)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"TodaysForecast"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['msnweather']['connectionId']"}},"method":"get","path":"/forecast/today/@{encodeURIComponent(triggerBody()['location']['coordinates']['latitude'],', ',triggerBody()['location']['coordinates']['longitude'])}","queries":{"units":"Metric"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":"@equals(triggerBody()['location']['address']['countryOrRegion'], 'United States')","type":"If"}},"outputs":{},"description":"With a single button tap get today's weather forecast pushed to your mobile devices."},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-6C5BECFD93C54C0A911E2663787FCB10"}},"integrationAccount":{"name":"9562b42b4ea7451483126d67083c18e9-westeurope","id":"subscriptions/427976e2-4271-4308-afb8-d28d53a6ad06/resourceGroups/9562b42b4ea7451483126d67083c18e9-ia/providers/Microsoft.Logic/integrationAccounts/9562b42b4ea7451483126d67083c18e9-westeurope","type":"Microsoft.Logic/integrationAccounts"}}}]}